{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "react/prop-types": [0]
  }
}