.background {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -99;
  background: url('../../assets/dominik-scythe-414905-unsplash.jpg');
  background-size: cover;
  background-position: center center;
}

.background::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1000;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  touch-action: none;
}