.notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
}

.notifications:nth-child(1n) div {
  margin-bottom: 15px;
}

/* Position */
.bottomRight {
  bottom: 0;
  justify-content: flex-end;
  right: 2.5rem;
}

.bottomLeft {
  bottom: 2.5rem;
  left: 2.5rem;
}


@media only screen and (max-width: 1000px) {
  .notifications {
    width: 100%;
    right: 0;
  }
}