.notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
}

.notifications:nth-child(1n) div {
  margin-bottom: 15px;
}

/* Position */
.bottomRight {
  bottom: 0;
  justify-content: flex-end;
  right: 2.5rem;
}

.bottomLeft {
  bottom: 2.5rem;
  left: 2.5rem;
}

.notification-enter {
  opacity: 0.01;
}

.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notification-exit {
  opacity: 1;
  transition: opacity 500ms ease, padding 500ms ease 500ms;
}

.notification-exit {
  opacity: 0.01;
  transition: all 500ms ease-in;
  padding: 0;
}


@media only screen and (max-width: 1000px) {
  .notifications {
    width: 100%;
    right: 0;
  }
}