.App {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  width: 100%;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}