.landing {
  display: flex;
  flex-direction: column
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  touch-action: none;
}

.landing-title {
  position: absolute;
  top: 150px;
  right: 150px;
  z-index: 10;
  color: rgba(7,59,76, 0.7);
}

.landing-background {
  display: flex;
  min-height: 90vh;
  min-width: 100vw;
  background: url('../../assets/dominik-scythe-414905-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left center;
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
}

.landing-container {
  background: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%
  
}


.landing-about {
  text-align: center;
  max-width: 40%;
  align-items: center;
}

.slider-container {
  min-height: 300px;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.slider {
  overflow: hidden;
}

.slider ol {
  display: flex;
  width: 100%;
  justify-content: center;
}

.slider ol [aria-current="true"]::after {
  pointer-events: none;
  cursor: auto;
  color: var(--warning)
}

.slider ol li {
  visibility: hidden;
  margin: 10px;
  transform: rotate(180deg)
}

.slider ol li::after {
  content: '.';
  cursor: pointer; 
  visibility: visible;
  font-size: 4em;
  color: var(--default)
}

.slider-img1, .slider-img2, .slider-img3 {
  background-size: cover;
  background-attachment: local;
  height: 300px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

.slider-img1 {
  background-image: url('../../assets/baby-toy-blur-bokeh-981588.jpg');
  background-position: center center;
}
.slider-img2 {
  background-image: url('../../assets/pexels-photo-319968.jpeg');
  background-position: center center;
}
.slider-img3 {
  background-image: url('../../assets/bookcase-books-computers-1329068.jpg');
  background-position: center center;
}

@media only screen and (max-width: 800px) {
  .landing-background {
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
    background-attachment: scroll;
    background-size: cover;
    min-height: 50vh;
    
  }

  .landing-title {
    display: none;
  }
} 